/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  

  /* Rulesets to be matched up with selectors */
  
 .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
 .card footer p {
    font-size: 1.4em;
    line-height: 2em;
 }
 
  .card article img{
    max-height: 100%;
    float: right;
  }

.card header, .card footer  {
height: 2em;
padding: 1em;
  }

  .card h2, p {
margin: 0;
  }

  .card article {
    height: 12em;
    background-color: rgba(0,0,0,0);
  }

  .card article p {
    padding: 1em;
    color: white;
line-height: 1em;
  }

  .card h2 {
    font-size: 2em;
    line-height: 1.5em;
  }

  .card footer p {
    padding-left: 1.3em;
  }

  .me {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: hotpink;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

  .me header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .me footer p {
    font-size: 1.4em;
    line-height: 2em;
    font-family: fantasy;
  }

  .me article img {
    max-height: 100%;
    float: right;
  }

  .me header, .card footer {
    height: 3em;
    padding: 1em;
    font-family: fantasy;
  }

  .me h2, p{
    margin: 0;
  }

  .me article {
    height: 12em;
    background-color: rgba(0,0,0,0.2);
  }

  .me article p {
    padding: 1em;
    color: white;
    line-height: 1em;
    font-family: fantasy;
  }

  .me h2 {
    font-size: 2em;
    line-height: 1.5em;
  }

  .me footer p {
    height: 1.5em;
    line-height: 3em;
  }

  .me article p {
    padding-left: 1em;
  }